<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bakibillah.projecthealthcare">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" />
        <activity android:name=".WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".DiseaseDetectionActivity" />
        <activity android:name=".FoodPlanActivity" />
        <activity android:name=".PregnancyCareActivity" />
        <activity android:name=".EmergencyContactActivity" />
        <activity android:name=".MaleActivity" />
        <activity android:name=".FemaleActivity" />
        <activity android:name=".ChildActivity" />
        <activity android:name=".BabyActivity" />
        <activity android:name=".AmbulanceEmergency" />
        <activity android:name=".HospitalEmergency"/>

        <activity android:name=".PrimaryTreatment.PrimaryTreatmentActivity"/>
        <activity android:name=".PrimaryTreatment.PrimaryTreatmentListActivity"/>
        <activity android:name=".Food.FoodDetails"/>
        <activity android:name=".Food.FoodListActivity"/>
        <activity android:name=".Exercise.ExerciseDetails"/>
        <activity android:name=".Exercise.ExerciseListActivity"/>
        <activity android:name=".Labour.LabourDetails"/>
        <activity android:name=".Labour.LabourListActivity"/>
        <activity android:name=".Advice.AdviceDetails"/>
        <activity android:name=".Advice.AdviceListActivity">
        </activity>

    </application>

</manifest>